<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <script type="text/javascript">
      let ajaxreq;
      let ename;
      function fetchdata(event) {
        if (event.keyCode == 13) {
          getdata();
        }
      }
      function validate() {
        ename = document.getElementById("empname").value;
        if (ename == "") {
          return false;
        }
        return true;
      }
      function getdata() {
        if (!validate()) {
          alert("Enter emp name first!");
          return;
        }
        ajaxreq = new XMLHttpRequest();
        ajaxreq.onreadystatechange = processresponse;
        let reqstr = "getdata?name=" + ename;
        ajaxreq.open("GET",reqstr,true);
        ajaxreq.send(null);
      }
      function processresponse() {
        if (ajaxreq.readyState == 4) {
          let sp1 = document.getElementById("data");
          sp1.innerHTML = ajaxreq.responseText;
        }
      }
    </script>
  </head>
  <body bgcolor="#ff8888">
    <center>
      <b>Enter employee name:</b>
      <input type="text" id="empname" onkeypress="fetchdata(event)" />
      <br />
      <input type="button" value="Show Details" onclick="getdata()" />
      <br />
      <div id="data"></div>
    </center>
  </body>
</html>
