<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front End Trainers</title>
    <style>
      li {
        color: red;
      }
      body {
        background-color: skyblue;
      }
    </style>
  </head>
  <body>
    <h2>Welcome To Sharma Computer Academy</h2>
    <h3>Our Front-End Trainers</h3>
    <ul>
      <li>Mr Paramjeet Singh</li>
      <li>Ms Seema Sharma</li>
      <li>Mr Sanjeev Sharma</li>
      <li>Mr Sachin Kapoor</li>
    </ul>
  </body>
</html>
