<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Current Date is {{today}}<br />
    Formatted Date is {{today|date:"D,M d,Y"}}<br />
    Short Date is {{today|date:"SHORT_DATE_FORMAT"}}<br />
    Date is {{today|date:"DATE_FORMAT"}}<br />
    Datetime is {{today|date:"DATETIME_FORMAT"}}<br />
    Short Datetime is {{today|date:"SHORT_DATETIME_FORMAT"}}
  </body>
</html>
